
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
/* @import 'react-pdf/dist/esm/Page/AnnotationLayer.css'; */

/* tailwind configuration */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* -------------------------- */

@keyframes zigzag {
    0% { transform: translateX(0); }
    25% { transform: translateX(5px) rotate(-5deg); }
    50% { transform: translateX(-5px) rotate(5deg); }
    75% { transform: translateX(5px) rotate(-5deg); }
    100% { transform: translateX(0); }
  }
  
  .zigzag-animation {
    display: inline-block;
    animation: zigzag 2s infinite;
  }
  
  /* main.css or a CSS module */
@keyframes moveLeftRight {
  0%, 100% { transform: translateX(0); }
  50% { transform: translateX(20px); }
}

.text-animation {
  display: inline-block;
  animation: moveLeftRight 2s infinite;
}

/* In your styles.css or a corresponding CSS module */
.animated-text {
  animation: textAnimation 3s ease-in-out infinite;
}

@keyframes textAnimation {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}
